.button {
  border: 1px solid var(--gray-300);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: var(--gap1);
  padding: var(--gap1) var(--gap2);
  border-left: 4px solid var(--btn-color);
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
}

.button > img {
  width: 40px;
}

.button > p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray-700);
}